:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --main-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --text-color: #353430;
  --left-title-color: #353430;
  --link-color: #FF8DCB;
  --decoration-color: #353430;
  --background-color: #FFF1F7;
  --accent-color: var(--main-color);
  .header__decoration-dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --background-image: url(../images/cover-image-light.png);
  --main-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --text-color: #353430;
  --left-title-color: #353430;
  --link-color: #FF8DCB;
  --decoration-color: #353430;
  --background-color: #FFF1F7;
  --accent-color: var(--main-color);
  .header__decoration-dark {
    display: none;
  }
  }
} 